{% extends "layout.twig" %}

{% block content %}
<form action="" method="post">
    <label for="title">Titre :</label>
    <input type="text" name="title" id="title" />
    <label for="article">Article :</label>
    <textarea name="article" id="article"></textarea>

    <input type="submit" />
</form>
{% endblock %}
