{% extends "layout.twig" %}

{% block content %}
    <h1>Home</h1>
    <section>
        {% for article in articles %}
            <article>
                <h2>{{ article.title }}</h2>
                <p>
                    {{ article.body }}
                </p>
            </article>
        {% endfor %}
    </section>
{% endblock %}
