<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{{ app.url_generator.generate('home') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ app.url_generator.generate('getAdmin') }}">Admin</a>
                    </li>
                </ul>
            </nav>
            <div>
            {% if user is defined %}
                {% if user %}
                    <p>Bienvenue, {{ user.name }}</p>
                {% else  %}
                    <a href="{{ app.url_generator.generate('login') }}">Login</a>
                {% endif %}
            {% endif %}
            </div>
        </header>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
        </div>
    </body>
</html>
