{% extends "layout.twig" %}

{% block content %}
    {% if errors is defined %}
        <p>Erreurs : </p>
        <p>{{ errors }}</p>
    {% endif %}
    <form action="{{ app.url_generator.generate('postLogin') }}" method="post">
        <label for="email">Email :</label>
        <input type="email" name="email" id="email" />

        <label for="password">Password :</label>
        <input type="password" name="password" id="password" />

        <input type="submit" />
    </form>
{% endblock %}
